*{
    margin :0;
    padding:0;
}
.container{
    max-width : 3000px;
    margin :0px;
    overflow : hidden;
    padding : 0px;
    height: auto;
   }
body{
    background-image: url(Bg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.middle{
    background-image: url(Bg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:max-content;
}

.header{
    padding : 10px;
    margin : 10px;
    background-color:saddlebrown;
    text-align: left;
    color:beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    height: 50px;
    border:1px solid #080711;
   } 

.Menu a{
    text-align: right;
    text-decoration: none;
    color:beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.judul {
    text-align: left;
}
.footer{
    text-align: center;
    clear : both;
    padding : 10px;
    margin : 10px;
    background-color:saddlebrown;
    font-size: 20pt;
    color: beige;
    position: fixed;
    bottom: 0;
    width: 100%;
    border:1px solid #080711;
    }

.middle p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.middle h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.middle img{
    width: 600px;
    height:400px;  
}